@import '../../scss/base';

.formWrapper {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 2.4rem;
  max-width: 32rem;
  width: 100%;

  .textAreaStyles {
    max-width: 32rem;
    width: 100%;
    font-size: $font-m;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 1.2rem 12px 0 1.2rem;
    color: $black;
    resize: none;
    margin: 1.6rem;
  }
}