@import '../../scss/base';

.feedbackFormWrapper {
  padding-inline: 2.4rem;
  padding-block: 2.4rem;

  .feedbackFormTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feedbackFormTitle {
    text-align: center;
    font-weight: 300;
    padding-block: 1.6rem;
    font-size: $font-xl;

    >b {
      font-weight: 500;
    }
  }


  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-end: 2.4rem;
  }
}