@import "colors";

// font-sizes
$font-xl: 2rem;
$font-l: 1.6rem;
$font-m: 1.4rem;
$font-s: 1.2rem;

.fadeIn {
  transform: translate(0, 0);
  opacity: 1;
  -webkit-app-region: no-drag;
}

.fadeOut {
  transform: translate(0, 120%);
  opacity: 0;
  pointer-events: none;
}